<style>
    @charset "UTF-8";
    /********************************************/
    /********************************************/
    /* Please ❤ this if you like it! */
    /* Follow Me https://codepen.io/designfenix */
    /********************************************/
    /********************************************/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
    /*Functions*/
    /*Vars*/
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

    :root {
        --anim-duration: 3s;
        --scene-bg: #25272b;
        --scene-bg-rgb: 37 39 43;
        --cloud: #454951;
        --stars-color: #f1f1f1;
        --moon-color: #fff5dd;
        --moon-size: clamp(50px, 10vw, 100px);
        --ghost-color: #eef0ff;
        --ghost-shadow: #a6a8b2;
        --ghost-details: #3b4351;
        --ghost-size: 35%;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }


    section {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        overflow: hidden;
    }

    section .animation {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    section .not-found {
        margin-top: 2rem;
    }

    section .not-found h4 {
        font-size: clamp(24px, 10vw, 52px);
        color: #898989;
    }

    h2 {
        font-family: "Bebas Neue", cursive;
        font-weight: bold;
        font-size: clamp(220px, 50vw, 450px);
        color: rgb(var(--scene-bg-rgb));
        text-shadow: 30px 30px 60px rgb(var(--scene-bg-rgb)/40%);
        margin: 0 2vw;
        line-height: 1;
    }

    @media (max-width: 1024px) {
        h2 {
            display: none;
        }
    }

    .scene {
        background: var(--scene-bg);
        width: 60vw;
        height: 60vw;
        min-width: 320px;
        height: 320px;
        max-height: 500px;
        max-width: 500px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 50px 50px 100px 0 rgb(var(--scene-bg-rgb)/50%);
        position: relative;
        flex-shrink: 0;
    }

    .scene .stars {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .scene .stars li {
        opacity: 0.8;
    }

    .scene .stars li:before {
        content: "";
        background: linear-gradient(transparent, var(--stars-color), transparent);
        position: absolute;
        top: 50%;
        width: 10%;
        height: 100%;
        border-radius: 0 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scene .stars li:after {
        content: "";
        background: linear-gradient(90deg, transparent, var(--stars-color), transparent);
        position: absolute;
        top: 50%;
        height: 10%;
        width: 100%;
        border-radius: 0 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scene .stars li:nth-child(1) {
        position: absolute;
        left: 74%;
        top: 27%;
        width: 14px;
        height: 14px;
        -webkit-animation: blink infinite 8s 3s;
        animation: blink infinite 8s 3s;
    }

    .scene .stars li:nth-child(2) {
        position: absolute;
        left: 54%;
        top: 63%;
        width: 8px;
        height: 8px;
        -webkit-animation: blink infinite 10s 4s;
        animation: blink infinite 10s 4s;
    }

    .scene .stars li:nth-child(3) {
        position: absolute;
        left: 34%;
        top: 37%;
        width: 8px;
        height: 8px;
        -webkit-animation: blink infinite 9s 3s;
        animation: blink infinite 9s 3s;
    }

    .scene .stars li:nth-child(4) {
        position: absolute;
        left: 64%;
        top: 38%;
        width: 7px;
        height: 7px;
        -webkit-animation: blink infinite 8s 3s;
        animation: blink infinite 8s 3s;
    }

    .scene .stars li:nth-child(5) {
        position: absolute;
        left: 27%;
        top: 71%;
        width: 7px;
        height: 7px;
        -webkit-animation: blink infinite 6s 4s;
        animation: blink infinite 6s 4s;
    }

    .scene .stars li:nth-child(6) {
        position: absolute;
        left: 90%;
        top: 90%;
        width: 11px;
        height: 11px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(7) {
        position: absolute;
        left: 90%;
        top: 42%;
        width: 6px;
        height: 6px;
        -webkit-animation: blink infinite 7s 4s;
        animation: blink infinite 7s 4s;
    }

    .scene .stars li:nth-child(8) {
        position: absolute;
        left: 40%;
        top: 24%;
        width: 12px;
        height: 12px;
        -webkit-animation: blink infinite 6s 3s;
        animation: blink infinite 6s 3s;
    }

    .scene .stars li:nth-child(9) {
        position: absolute;
        left: 67%;
        top: 16%;
        width: 5px;
        height: 5px;
        -webkit-animation: blink infinite 9s 4s;
        animation: blink infinite 9s 4s;
    }

    .scene .stars li:nth-child(10) {
        position: absolute;
        left: 30%;
        top: 57%;
        width: 10px;
        height: 10px;
        -webkit-animation: blink infinite 5s 3s;
        animation: blink infinite 5s 3s;
    }

    .scene .stars li:nth-child(11) {
        position: absolute;
        left: 23%;
        top: 42%;
        width: 13px;
        height: 13px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(12) {
        position: absolute;
        left: 11%;
        top: 58%;
        width: 5px;
        height: 5px;
        -webkit-animation: blink infinite 9s 4s;
        animation: blink infinite 9s 4s;
    }

    .scene .stars li:nth-child(13) {
        position: absolute;
        left: 26%;
        top: 82%;
        width: 7px;
        height: 7px;
        -webkit-animation: blink infinite 5s 3s;
        animation: blink infinite 5s 3s;
    }

    .scene .stars li:nth-child(14) {
        position: absolute;
        left: 59%;
        top: 70%;
        width: 13px;
        height: 13px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(15) {
        position: absolute;
        left: 84%;
        top: 28%;
        width: 14px;
        height: 14px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(16) {
        position: absolute;
        left: 32%;
        top: 55%;
        width: 9px;
        height: 9px;
        -webkit-animation: blink infinite 7s 4s;
        animation: blink infinite 7s 4s;
    }

    .scene .stars li:nth-child(17) {
        position: absolute;
        left: 17%;
        top: 88%;
        width: 5px;
        height: 5px;
        -webkit-animation: blink infinite 6s 4s;
        animation: blink infinite 6s 4s;
    }

    .scene .stars li:nth-child(18) {
        position: absolute;
        left: 55%;
        top: 49%;
        width: 11px;
        height: 11px;
        -webkit-animation: blink infinite 10s 4s;
        animation: blink infinite 10s 4s;
    }

    .scene .stars li:nth-child(19) {
        position: absolute;
        left: 69%;
        top: 59%;
        width: 6px;
        height: 6px;
        -webkit-animation: blink infinite 6s 3s;
        animation: blink infinite 6s 3s;
    }

    .scene .stars li:nth-child(20) {
        position: absolute;
        left: 26%;
        top: 41%;
        width: 9px;
        height: 9px;
        -webkit-animation: blink infinite 9s 4s;
        animation: blink infinite 9s 4s;
    }

    .scene .stars li:nth-child(21) {
        position: absolute;
        left: 35%;
        top: 24%;
        width: 9px;
        height: 9px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(22) {
        position: absolute;
        left: 37%;
        top: 36%;
        width: 11px;
        height: 11px;
        -webkit-animation: blink infinite 9s 4s;
        animation: blink infinite 9s 4s;
    }

    .scene .stars li:nth-child(23) {
        position: absolute;
        left: 67%;
        top: 84%;
        width: 13px;
        height: 13px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(24) {
        position: absolute;
        left: 51%;
        top: 20%;
        width: 5px;
        height: 5px;
        -webkit-animation: blink infinite 9s 3s;
        animation: blink infinite 9s 3s;
    }

    .scene .stars li:nth-child(25) {
        position: absolute;
        left: 77%;
        top: 56%;
        width: 14px;
        height: 14px;
        -webkit-animation: blink infinite 5s 3s;
        animation: blink infinite 5s 3s;
    }

    .scene .stars li:nth-child(26) {
        position: absolute;
        left: 26%;
        top: 35%;
        width: 10px;
        height: 10px;
        -webkit-animation: blink infinite 5s 4s;
        animation: blink infinite 5s 4s;
    }

    .scene .stars li:nth-child(27) {
        position: absolute;
        left: 86%;
        top: 38%;
        width: 13px;
        height: 13px;
        -webkit-animation: blink infinite 10s 4s;
        animation: blink infinite 10s 4s;
    }

    .scene .stars li:nth-child(28) {
        position: absolute;
        left: 76%;
        top: 34%;
        width: 8px;
        height: 8px;
        -webkit-animation: blink infinite 9s 4s;
        animation: blink infinite 9s 4s;
    }

    .scene .stars li:nth-child(29) {
        position: absolute;
        left: 44%;
        top: 53%;
        width: 10px;
        height: 10px;
        -webkit-animation: blink infinite 6s 3s;
        animation: blink infinite 6s 3s;
    }

    .scene .stars li:nth-child(30) {
        position: absolute;
        left: 40%;
        top: 90%;
        width: 5px;
        height: 5px;
        -webkit-animation: blink infinite 7s 4s;
        animation: blink infinite 7s 4s;
    }

    .scene .moon {
        position: absolute;
        z-index: 1;
        top: 70px;
        left: 90px;
        background: var(--scene-bg);
        border-radius: 100%;
        width: var(--moon-size);
        height: var(--moon-size);
        box-shadow: inset calc(var(--moon-size) / -5) calc(var(--moon-size) / -5) 0 0 var(--moon-color);
    }

    .scene .clouds {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        -webkit-animation: linear 10s infinite cloudsMove;
        animation: linear 10s infinite cloudsMove;
    }

    .scene .clouds li {
        width: clamp(80px, 5vw, 100px);
        border-radius: 20px;
        height: clamp(20px, 5vw, 30px);
        background: var(--cloud);
        position: relative;
        margin: 0 clamp(20px, 5vw, 60px);
    }

    .scene .clouds li:nth-child(even) {
        transform: translatey(5vw);
    }

    .scene .clouds li:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        border-radius: 25px;
        height: 25px;
        top: -12px;
        left: 50%;
        transform: translatex(-50%);
        background: inherit;
    }

    .ghost {
        background: transparent;
        max-width: 140px;
        width: var(--ghost-size);
        max-height: 230px;
        height: calc(var(--ghost-size) * 1.7);
        border-radius: 70px 70px 0 0;
        display: flex;
        flex-direction: column;
        transform: rotate(-15deg);
        -webkit-animation: ghostMove var(--anim-duration) ease-in-out infinite;
        animation: ghostMove var(--anim-duration) ease-in-out infinite;
        z-index: 2;
    }

    .ghost:before {
        content: "";
        position: absolute;
        height: calc(100% - 40px);
        width: 100%;
        background: var(--ghost-color);
        border-radius: 70px 70px 0 0;
        z-index: 3;
    }

    .ghost__tooltip {
        transform-origin: bottom right;
        padding: 1rem 1.5rem;
        font-size: 3em;
        background: #ff8711;
        color: black;
        border-radius: 1.2rem;
        position: absolute;
        left: 0px;
        top: -40px;
        transform: translatex(-100%);
        -webkit-animation: showTooltip var(--anim-duration) ease-in-out infinite;
        animation: showTooltip var(--anim-duration) ease-in-out infinite;
    }

    .ghost__tooltip:before {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        background: #ff8711;
        bottom: -15px;
        right: 30px;
        -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }

    .ghost__eyes {
        display: flex;
        justify-content: center;
        -webkit-animation: turning var(--anim-duration) ease-in-out infinite;
        animation: turning var(--anim-duration) ease-in-out infinite;
        z-index: 3;
    }

    .ghost__eyes .eye {
        margin: 20px;
        margin-top: 60px;
        background-color: var(--ghost-details);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: relative;
        box-shadow: -10px 25px 3px 0 #ff9696;
    }

    .ghost__eyes .eye:last-of-type {
        box-shadow: 10px 25px 3px 0 #ff9696;
    }

    .ghost__eyes .eye:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 100%;
        background: white;
        bottom: 0;
        left: 0;
    }

    .ghost__mouth {
        display: flex;
        justify-content: center;
        width: 100%;
        -webkit-animation: turning var(--anim-duration) ease-in-out infinite;
        animation: turning var(--anim-duration) ease-in-out infinite;
        z-index: 3;
    }

    .ghost__mouth:before {
        content: "";
        display: block;
        background: var(--ghost-details);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        -webkit-animation: openMouth var(--anim-duration) ease-in-out infinite;
        animation: openMouth var(--anim-duration) ease-in-out infinite;
    }

    .ghost__tail {
        background: transparent;
        width: 100%;
        height: calc(var(--ghost-size) / 2);
        margin-top: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: calc(var(--ghost-size) * 0.2);
    }

    .ghost__tail:before {
        content: "";
        display: block;
        width: 200%;
        height: 800%;
        border-radius: 50%;
        background: var(--ghost-color);
        position: absolute;
        bottom: 0px;
        margin-left: -50%;
        -webkit-animation: wave calc(var(--anim-duration) / 2) linear infinite;
        animation: wave calc(var(--anim-duration) / 2) linear infinite;
        z-index: 1;
    }

    .ghost__tail:after {
        content: "";
        z-index: 0;
        display: block;
        width: 200%;
        height: 800%;
        border-radius: 50%;
        background: var(--ghost-shadow);
        position: absolute;
        bottom: 10px;
        margin-left: -50%;
    }

    /*Animations*/
    @-webkit-keyframes turning {

        0%,
        100% {
            transform: translateX(0%) rotateY(0deg);
        }

        50%,
        59.9% {
            transform: translateX(50%) rotateY(90deg);
        }

        60% {
            transform: translateX(-50%) rotateY(-90deg);
        }
    }

    @keyframes turning {

        0%,
        100% {
            transform: translateX(0%) rotateY(0deg);
        }

        50%,
        59.9% {
            transform: translateX(50%) rotateY(90deg);
        }

        60% {
            transform: translateX(-50%) rotateY(-90deg);
        }
    }

    @-webkit-keyframes wave {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes wave {
        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes blink {
        50% {
            opacity: 0;
            transform: scale(0.2) rotate(180deg);
        }
    }

    @keyframes blink {
        50% {
            opacity: 0;
            transform: scale(0.2) rotate(180deg);
        }
    }

    @-webkit-keyframes ghostMove {

        0%,
        100% {
            transform: rotate(-20deg) translate(0px, 0px);
        }

        33% {
            transform: rotate(-35deg) translate(120px, 20px);
        }

        66% {
            transform: rotate(-40deg) translate(0px, 80px);
        }
    }

    @keyframes ghostMove {

        0%,
        100% {
            transform: rotate(-20deg) translate(0px, 0px);
        }

        33% {
            transform: rotate(-35deg) translate(120px, 20px);
        }

        66% {
            transform: rotate(-40deg) translate(0px, 80px);
        }
    }

    @-webkit-keyframes cloudsMove {
        to {
            transform: translatex(-33.3%);
        }
    }

    @keyframes cloudsMove {
        to {
            transform: translatex(-33.3%);
        }
    }

    @-webkit-keyframes openMouth {

        25%,
        75% {
            height: 20px;
            width: 50px;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
        }
    }

    @keyframes openMouth {

        25%,
        75% {
            height: 20px;
            width: 50px;
            border-radius: 0 0 50% 50%/0 0 100% 100%;
        }
    }

    @-webkit-keyframes showTooltip {

        0%,
        100% {
            opacity: 1;
            transform: rotate(0deg) translatex(-100%);
        }

        20%,
        80% {
            opacity: 0;
            transform: rotate(-55deg) translatex(-100%);
        }
    }

    @keyframes showTooltip {

        0%,
        100% {
            opacity: 1;
            transform: rotate(0deg) translatex(-100%);
        }

        20%,
        80% {
            opacity: 0;
            transform: rotate(-55deg) translatex(-100%);
        }
    }

    /*Dev*/
    .dev {
        font-family: "Poppins", sans-serif;
        position: fixed;
        font-size: clamp(8px, 3vw, 14px);
        top: 1vw;
        left: 1vw;
        padding: 1em;
        color: #111;
        background-color: white;
        border-radius: 25px;
        cursor: pointer;
        z-index: 100;
        box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.05);
    }

    .dev a {
        text-decoration: none;
        font-weight: bold;
        color: #111;
        transition: ease all 0.3s;
    }

    .dev a:hover {
        color: #ef5350;
        text-decoration: underline;
    }

    .dev span {
        display: inline-block;
        transition: ease all 0.3s;
        color: #ef5350;
    }

    .dev span:hover {
        transform: scale(1.2);
    }
</style>

<section>
    <div class="animation">
        <h2>4</h2>
        <div class="scene">
            <div class="moon"></div>
            <ul class="stars">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="clouds">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="ghost">
                <div class="ghost__tooltip">
                    Boo!
                </div>
                <div class="ghost__eyes">
                    <div class="eye"></div>
                    <div class="eye"></div>
                </div>
                <div class="ghost__mouth"></div>
                <div class="ghost__tail"></div>
            </div>
        </div>
        <h2>4</h2>
    </div>
    <div class="not-found">
        <h4>Kechirasiz, sahifa topilmadi</h4>
    </div>
</section>