<style>
    @font-face {
        font-family: "Work Sans";
        src: url("./fonts/WorkSans-Light.ttf");
    }
    body {
         background-color: rgba(43, 43, 43, 1);;
    }
    .auth {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    .auth_img {
        width: 50%;
        height: 40%;
        overflow: hidden;
        
    }
    .auth_img > img {
        width: 100%;
        height: 100%;
    }
    .auth_forms {
        width: 40%;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
    }
    .auth_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 80px ;
    }
    .auth_header > h2 {
        color: var(--white, #FFF);
        font-size: 51px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-transform: capitalize;
    }
    .auth_description{
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }
    .auth_description > h3 {
        color: var(--white, #ffffffa8);
        font-family: Work Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: capitalize;
    }
    .forms {
        display: flex;
        margin-top: 50px;
        width: 330px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
     #password {
        width: 100%;
        display: flex;
        height: 46px;
        padding: 16px 60px;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 20px;
        border: 1px solid var(--caption-label-text, #eeeee4);
        background: var(--text, #FFF);
        outline: none;
        font-family: "Work Sans";
    }

    .inputs_icon {
        position: relative;
        width: 100%;
    }

    svg {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 10px;
        left: 20px;
    }
    .btn_create {
        display: flex;
        cursor: pointer;
        border: none;
        height: 46px;
        padding: 0px 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 20px;
        background: var(--call-to-action, #A259FF);
    }
    .verification__fields {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
</style>

<div class="auth">
    <div class="auth_img">
        <img src="/img/forgetpass.jpg" alt="">
    </div>
    <div class="auth_forms">
        <div class="auth_header">
            <h2>New Password</h2>
        </div>
        <div class="auth_description">
            <h3>Welcome! enter your details and start creating, collecting and selling NFTs.</h3>
        </div>
        <div class="forms">
            <div class="inputs_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 10C9.48223 10 9.0625 10.4197 9.0625 10.9375C9.0625 11.4553 9.48223 11.875 10 11.875C10.5178 11.875 10.9375 11.4553 10.9375 10.9375C10.9375 10.4197 10.5178 10 10 10ZM7.8125 10.9375C7.8125 9.72938 8.79188 8.75 10 8.75C11.2081 8.75 12.1875 9.72938 12.1875 10.9375C12.1875 12.1456 11.2081 13.125 10 13.125C8.79188 13.125 7.8125 12.1456 7.8125 10.9375Z" fill="#BDBDBD"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 11.875C10.3452 11.875 10.625 12.1548 10.625 12.5V14.375C10.625 14.7202 10.3452 15 10 15C9.65482 15 9.375 14.7202 9.375 14.375V12.5C9.375 12.1548 9.65482 11.875 10 11.875Z" fill="#BDBDBD"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 7.5C2.5 6.80964 3.05964 6.25 3.75 6.25H16.25C16.9404 6.25 17.5 6.80964 17.5 7.5V16.25C17.5 16.9404 16.9404 17.5 16.25 17.5H3.75C3.05964 17.5 2.5 16.9404 2.5 16.25V7.5ZM16.25 7.5H3.75V16.25H16.25V7.5Z" fill="#BDBDBD"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1.875C9.41984 1.875 8.86344 2.10547 8.4532 2.5157C8.04297 2.92594 7.8125 3.48234 7.8125 4.0625V6.875C7.8125 7.22018 7.53268 7.5 7.1875 7.5C6.84232 7.5 6.5625 7.22018 6.5625 6.875V4.0625C6.5625 3.15082 6.92466 2.27648 7.56932 1.63182C8.21398 0.987164 9.08832 0.625 10 0.625C10.9117 0.625 11.786 0.987164 12.4307 1.63182C13.0753 2.27648 13.4375 3.15082 13.4375 4.0625V6.875C13.4375 7.22018 13.1577 7.5 12.8125 7.5C12.4673 7.5 12.1875 7.22018 12.1875 6.875V4.0625C12.1875 3.48234 11.957 2.92594 11.5468 2.5157C11.1366 2.10547 10.5802 1.875 10 1.875Z" fill="#BDBDBD"/>
                  </svg>
                <input type="password" placeholder="Confirm Password" id="password">
            </div>

            <button class="btn_create" id="sms" onclick="Recover()" type="button"> Confirm </button>
            <!-- <button class="btn_create"  id="send" onclick="confirm()"  type="button"> Confirm </button> -->
        </div>
    </div>
</div>


<script src="/axios.min.js"></script>
<script src="/jquery.min.js"></script>
<script src="/choices.js"></script>
<script src="/toastr/notification.js"></script>

<script>
     const Recover = () => {
        const password = document.getElementById("password").value
        if (password == "") WarningMessage("Yangi parolni kiriting")
        else {
            const uuid = String(window.location.pathname).split("/")[2]
            axios.put(`/user/${uuid}`, { PASSWORD: password }).then(() => {
                window.location.replace(`/admin/dashboard/${uuid}`)
            })
        }
    }
</script>