<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    
    <!-- Navbar  -->
    <div class="col-md-12  h-100  flex  navigation">

        <div class="nav1">
            <img  class="logo" src="/img/Storefront.svg" alt="logo" >
            <img src="/img/nav/logo.svg" alt="logo 2" >
        </div>

        <div class="nav2 ">
            <a href="/">Home</a>
            <a href="/">Rankings</a>
            <a href="/">connect Wallet</a>
        </div>

        <div class="btn-group w-30">
            <a  href="/sign_up" class="btn"> <img src="/img/User.svg" > Sign Up</a>
        </div>

    </div>

    <!-- hero section  -->
    <div class="hero_section col-md-12">
        <div class="collect_nft col-md-12" >
            <div class="col-md-6  divcha">
                <div class="title">
                    <h1>DISCOVER <br>
                        Digital Art & <br>
                        Collect NFTs
                    </h1>
                </div>

                <div class="description">
                    <p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
                    <button class="btn_started mt-3" type="button"> <img src="/img/RocketLaunch.svg" alt="Rocked" s>  Get Started</button>
                </div>

                <div class="total col-md-12 p-4 d-flex flex-row ">
                    <div class="total_child1 d-flex flex-column mt-2">
                        <h1>240k+ </h1>
                        <p>Total Sale</p>
                    </div>

                    <div class="total_child1 d-flex flex-column mt-2">
                        <h1> 100k + </h1>
                        <p>Auctions</p>
                    </div>

                    <div class="total_child1 d-flex flex-column mt-2">
                        <h1>240k+ </h1>
                        <p>Artists</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6  nftRight">
                <div class="nftImg">
                    <img class="fixed" src="/img/Image Placeholder.png" alt="">
                </div>

                <div class="author_nft col-md-12">
                    <h1 class="author_name_nft"> Space Walking</h1>
                    <div class="author_img">
                        <img src="/img/Avatar Placeholder.png" alt="">
                        <h4>Animakid</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- TOP COLLECTION  -->
    <div class="section">


        <div class="section_title">
            <h2>Trending Collection</h2>
            <p>Checkout our weekly updated trending collection.</p>
            
        </div>
        <div class="section_right">
                <div class="card_bottom">
                    <img class="card_img" src="/img/Primary Photo Placeholder.png" alt="">
                    <div class="card_tutorial">
                        <img src="/img/Secondary Photo Placeholder (1).png" alt="">
                        <img src="/img/Secondary Photo Placeholder (2).png" alt="">
                        <h2>1024+</h2>
                    </div>
                    <div class="card_title mt-1 mb-3 col-md-6">
                        <h5>Animals</h5>
                    </div>

                    <div class="card_author  ">
                        <div class="card_avatar">
                            <img src="/img/Avatar Placeholder.png" alt="avatar">
                        </div>
                        <div class="card_name">
                            <h4>Kidiraliyev Rustam</h4>
                        </div>
                    </div>
                </div>
                <div class="card_bottom">
                    <img class="card_img" src="/img/card/qoziqorin.png" alt="">
                    <div class="card_tutorial">
                        <img src="/img/Secondary Photo Placeholder (1).png" alt="">
                        <img src="/img/Secondary Photo Placeholder (2).png" alt="">
                        <h2>1024+</h2>
                    </div>
                    <div class="card_title mt-1 mb-3 col-md-6">
                        <h5>Animals</h5>
                    </div>

                    <div class="card_author  ">
                        <div class="card_avatar">
                            <img src="/img/avatar/mister_fox.png"avatar">
                        </div>
                        <div class="card_name">
                            <h4>Mister Fox</h4>
                        </div>
                    </div>
                </div>
                <div class="card_bottom">
                    <img class="card_img" src="/img/card/Primary Photo Placeholder.png" alt="">
                    <div class="card_tutorial">
                        <img src="/img/Secondary Photo Placeholder (1).png" alt="">
                        <img src="/img/Secondary Photo Placeholder (2).png" alt="">
                        <h2>1024+</h2>
                    </div>
                    <div class="card_title mt-1 mb-3 col-md-6">
                        <h5>Robo</h5>
                    </div>

                    <div class="card_author  ">
                        <div class="card_avatar">
                            <img src="/img/avatar/avatar_2.png" alt="avatar">
                        </div>
                        <div class="card_name">
                            <h4>JonRob</h4>
                        </div>
                    </div>

                </div>
                
        </div>
        </div>

        <!-- top creators  -->
    <div class="top_creators">
        <div class="title_creators">
            <div class="name_creators">'
                <h1>Top Creators </h1> 
                <h3>Checkout Top Rated Creators on the NFT Marketplace</h3>
            </div>
            <div class="btnCreator">
                <button type="button"> <img src="/img/RocketLaunch.svg" alt=""> Views Ranking </button>
            </div>
        </div>
    </div>
        
    <!-- creators card  -->
    <div class="card_creators ">
            <div class="line_first">
                <div class="creators">
                    <div class="card_number"><p class="text-light">1</p></div>
                    <div class="card_image">
                        <img src="/img/creators/Avatar Placeholder.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#"> Arlot </a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>34.53 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">2</p></div>
                    <div class="card_image">
                        <img src="/img/creators/3.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#" >Jonson Ui</a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>31.00 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">3</p></div>
                    <div class="card_image">
                        <img src="/img/creators/4.png" >
                    </div>
                    <div class="creator_name">
                        <a href="#">Xayabusa</a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>29.21 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">4</p></div>
                    <div class="card_image">
                        <img src="/img/creators/avatar2.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#"> Kapital </a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>34.53 ETH</h5>
                        </div>
                    </div>
                </div>
                




            </div>
            <div class="line_first">
                <div class="creators">
                    <div class="card_number"><p class="text-light">5</p></div>
                    <div class="card_image">
                        <img src="/img/creators/Avatar Placeholder.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#"> Arlot </a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>34.53 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">6</p></div>
                    <div class="card_image">
                        <img src="/img/creators/3.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#" >Jonson Ui</a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>31.00 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">7</p></div>
                    <div class="card_image">
                        <img src="/img/creators/4.png" >
                    </div>
                    <div class="creator_name">
                        <a href="#">Xayabusa</a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>29.21 ETH</h5>
                        </div>
                    </div>
                </div>
                <div class="creators">
                    <div class="card_number"><p class="text-light">8</p></div>
                    <div class="card_image">
                        <img src="/img/creators/avatar2.png" alt="">
                    </div>
                    <div class="creator_name">
                        <a href="#"> Kapital </a>
                    </div>
                    <div class="card_bottom row">
                        <div class="card_bottom_left">
                            <h5>Total Sales:</h5>
                        </div>
                        <div class="card_bottom_right">
                            <h5>34.53 ETH</h5>
                        </div>
                    </div>
                </div>
                




            </div>
    </div>



     <%- body %>

</body>
</html>