

<div class="form-outline">
  <input type="text" id="formControlLg" class="form-control form-control-lg" />
  <label class="form-label" for="formControlLg">Form control lg</label>
</div>

<div class="form-outline">
  <input type="text" id="formControlLg" class="form-control form-control-lg" />
  <label class="form-label" for="formControlLg">Form control lg</label>
</div>

<div class="file-upload-wrapper">
  <input type="file" id="input-file-now-disabled-2" class="file-upload" disabled="disabled" data-default-file="https://mdbootstrap.com/img/Others/documentation/1.webp" />
</div>

<div class="form-outline">
  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
  <label class="form-label" for="textAreaExample">Message</label>
</div>












<script>
  $('.file-upload').file_upload();
</script>